#modal-pw.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-passwd-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only= t 'voc.close'
        %h4#modal-passwd-label.modal-title= t 'voc.confirm_password'
      .modal-body
        = f.password_field :current_password, autocomplete: "off", label: t('voc.current_password'), help: t('views.settings.account.current_help')
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= t 'voc.cancel'
        %button.btn.btn-primary{:type => "submit"}= t 'voc.save'
