.panel.panel-default
  .panel-body
    = bootstrap_form_for(current_user.profile, url: {action: "edit"}, :html => { :multipart => true }, method: "patch") do |f|

      .field
        = f.text_field :display_name, autofocus: true, label: "Display name"
        = f.text_field :bio, autofocus: true, label: "Biography"
        = f.text_field :location, autofocus: true, label: "Location"
        = f.text_field :website, autofocus: true, label: "Website"
      
      %button.btn.btn-primary{:type => "submit"}= t 'voc.save'
