.container.page-margin
  %h2 Log in

  = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = devise_error_messages!

    .field
      = f.email_field :email, autofocus: true, label: "E-Mail address"
      = f.password_field :password, autocomplete: "off", label: "Password"

    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me

    .actions
      = f.submit "Sign in"

  = render "devise/shared/links"
