.container.page-margin
  %h2= t('views.session.title')

  = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = devise_error_messages!

    .field
      = f.text_field :login, autofocus: true, label: "#{t('voc.screen_name')}/#{t('voc.email')}"
      = f.password_field :password, autocomplete: "off", label: t('voc.password')

    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me, label: t('voc.remember_me')

    .actions
      = f.submit t('voc.sign_in')

  = render "devise/shared/links"
